In [45]:
import json
import pandas as pd
import re

In [40]:
def load(name):
    with open(f".\\annotations\jsons\{name}.json","r") as f:
        return json.load(f)

In [76]:
data_list =[]
names = ["johan","chris","karl","alan"]
for name in names:
    data = load(name)
    for annotation in data:
        filename = annotation["file_upload"].split("-")[1]
        match = re.match(r"(api_)?(.*)_\d+.jpg",filename)
        groups = match.groups()
        if groups[0]:
            api = True
        else:
            api = False
        profession = groups[1]
        data_list.append([filename,
                          api,
                          profession,
                          name,
                          data[0]["annotations"][0]["result"][0]["value"]["choices"][0]])

In [77]:
df = pd.DataFrame(data_list,columns=["filename","api","profession","annotator","annotation"])
df.to_csv("annotation.csv")

In [78]:
df

,filename,api,profession,annotator,annotation
0,professor_100.jpg,False,professor,johan,Male
1,api_carpenter_75.jpg,True,carpenter,johan,Male
2,secretary_173.jpg,False,secretary,johan,Male
3,api_professor_34.jpg,True,professor,johan,Male
4,electrician_99.jpg,False,electrician,johan,Male
...,...,...,...,...,...
3567,artist_113.jpg,False,artist,johan,Male
3568,carpenter_175.jpg,False,carpenter,johan,Male
3569,api_software_developer_35.jpg,True,software_developer,johan,Male
3570,secretary_132.jpg,False,secretary,johan,Male
3571,maid_65.jpg,False,maid,johan,Male